{
  "rules": {
    "react/jsx-filename-extension": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "linebreak-style": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "import/prefer-default-export": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-cycle": "off",
    "no-console": "off",
    "no-shadow": "off",
    "no-prototype-builtins": "off",
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "react/prop-types": "off",
    "no-useless-return": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "@typescript-eslint/no-unused-expressions": "off",
    "@typescript-eslint/no-shadow": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/state-in-constructor": "off",
    "no-restricted-syntax": "off",
    "no-nested-ternary": "off",
    "react/no-array-index-key": "off",
    "react/destructuring-assignment": "warn",
    "no-param-reassign": [
      "error",
      {
        "props": true,
        "ignorePropertyModificationsFor": ["state", "socket", "button"]
      }
    ],
    "react/require-default-props": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_retry"]
      }
    ],
    "spaced-comment": "off",
  }
}
